@font-face {
  font-family: 'Lusitana';
  font-style: normal;
  font-weight: 400;
  src: local('Lusitana'), url(https://fonts.gstatic.com/s/lusitana/v4/h_1ZjHXv2tOhJGwbefP69nYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
}
